/* ProductDetails.module.css */

.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0aad0a;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  z-index: 1;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-prev-arrow {
  left:-10px;
}

.custom-next-arrow {
  right: -10px;
}
